.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

a {
  color: #000;
  text-decoration: none;
}

.c-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  border-top: 4px solid #f47633;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.c-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.75rem 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
}

.c-nav__logowrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c-nav__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.c-nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.c-nav__item.double-mr {
  margin-right: 1.5rem;
}

.c-nav__button {
  padding: 0.75rem 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #0033a0;
  background-color: transparent;
  color: #0033a0;
  font-size: 1.125rem;
}

.c-nav__button:hover {
  background-color: #f4f6f9;
}

.c-nav__button.is-primary {
  border-color: #01319a;
  background-color: #01319a;
  color: #fff;
}

.c-hero {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 6rem;
  background-image: url('../images/hero-new.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.c-launchinfo {
  width: 100%;
  background-color: #01319a;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}

.c-container-full {
  padding-top: 84px;
  padding-bottom: 84px;
}

.heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
}

.heading-2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.c-contactus {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 3.5rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-contactus-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-contactus-flex._50 {
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-contactus-flex._50.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-contactus-flex._50.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.title {
  margin-bottom: 2rem;
  color: #000;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.div-block {
  width: 50%;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  border-left: 4px solid #f47633;
  text-align: left;
}

.heading-3 {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.link {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.025em;
}

.image {
  margin-right: 24px;
}

.c-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 4px solid #f47633;
  background-color: #0f1847;
  color: #fff;
}

.c-container {
  width: 100%;
  max-width: 1288px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.c-footer-grid {
  margin-bottom: 2.5rem;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.c-footer-grid.three {
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-column-gap: 16px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.div-block-2 {
  font-weight: 700;
  text-align: right;
}

.link-2 {
  color: #fff;
}

.link-2.margin-right {
  margin-right: 3rem;
}

.link-3 {
  color: #fff;
}

.image-2 {
  margin-right: 0.5rem;
}

.link-4 {
  color: #fff;
}

.div-block-3 {
  text-align: right;
}

.c-footer-lighttext {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.c-hero-gradient {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(75deg, rgba(0, 0, 0, 0.75), transparent);
}

.div-block-4 {
  position: relative;
  width: 33.333%;
  color: #fff;
}

.heading-4 {
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: -0.025em;
}

.paragraph {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.025em;
}

.c-hero-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c-button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.125rem;
  background-color: #01319a;
  color: #fff;
}

.c-button.is-primary {
  margin-right: 1.5rem;
  background-color: #fff;
  color: #01319a;
  font-size: 1.125rem;
  font-weight: 600;
}

.c-button.is-secondary {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  font-weight: 600;
}

.c-values {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1288px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-values-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.c-card {
  width: 33%;
  margin-right: 2rem;
  border-radius: 0.125rem;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.c-card-img {
  width: 100%;
}

.c-card-bottom {
  padding: 0.75rem;
}

.c-card-title {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #000;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 700;
}

.c-card-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.c-values-h2 {
  margin-bottom: 4rem;
  color: #000;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.c-values-iconsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.c-values-iconwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-icontext {
  margin-bottom: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.025rem;
}

.c-howitworks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c-howitworks-left {
  width: 50%;
}

.c-howitworks-right {
  width: 50%;
}

._75percent {
  width: 75%;
}

.paragraph-2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.list-2 {
  margin-top: 4rem;
  margin-left: 1.5rem;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 2px dashed #f47633;
}

.list-item.first {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-left: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.c-listitem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c-listitem-number {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 48px;
  max-width: 48px;
  padding: 15px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #01319a;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
}

.paragraph-3 {
  margin-bottom: 0px;
}

.paragraph-4 {
  max-height: 106px;
  margin-bottom: 0px;
  margin-left: -24px;
  padding-bottom: 77px;
  padding-left: 36px;
  border-left: 2px dashed #f47633;
  font-size: 1rem;
  line-height: 1.5rem;
}

.paragraph-4.last {
  border-left-style: none;
}

.c-leadform {
  max-width: 1288px;
  margin-right: auto;
  margin-left: auto;
}

.heading-5 {
  text-align: center;
}

.paragraph-5 {
  text-align: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-nav {
  display: none;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

#w-node-_5a19ad4d-945f-7e1d-a9c7-10ea0dff2c9c-df858d3b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ab11792b-9f5d-12f1-4817-d02dd616803a-df858d3b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ac028034-a247-5863-bf07-677b71daa3da-df858d3b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fac57a4d-b34a-9591-972d-01d0859d5174-df858d3b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}