.disabled {
    border-radius: 2px;
    background-color: rgb(221, 221, 221);
    color: rgb(170, 170, 170);
    cursor: default;
    box-shadow: none;
}

input[type="radio"] {
	accent-color: #f47633;
}