.disabled {
    border-radius: 2px;
    background-color: rgb(221, 221, 221);
    color: rgb(170, 170, 170);
    cursor: default;
    box-shadow: none;
}

.checked {
    background-color: #ffe1d2;
    border: 2px solid rgb(255, 106, 19);
}

.color-checked {
    color: rgb(255, 106, 19);
}

input[type="radio"] {
	accent-color: #f47633;
}

#btn-start-now {
    cursor: pointer;
}

.fixed-position {
    position: fixed;
}

.overflow-hidden {
    overflow: hidden;
}

.radio-outer {
    min-width: 22px;
    min-height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

.radio-outer.active {
    background-color: rgb(255, 106, 19);
    border: 1px solid rgba(0, 0, 0, 0);
}

.radio-inner {
    min-width: 8px;
    min-height: 8px;
    background-color: #fff;
    border-radius: 100%;
}

.radio-inner.hover {
    background-color: rgb(255, 106, 19);
}

.checkbox-big:hover {
    border: #f47633 1px solid;
}